dist: trusty

sudo: required

language: python

python:
- 3.6.5

before_install:
- pip install --upgrade pip
- pip --version

jobs:
  include:
  - stage: lint and test
    install:
      - travis_retry make install-ci
      - pip install codecov

    before_script:
      - pip freeze

    script:
    - make lint
    - make test
    - codecov

cache: pip
